:local(.container) {
  margin: 40px;
  border: 5px dashed pink;
}
/* :local(.content) {
  font-size: 15px;
  text-align: center;
} */

:local(.flex_center) {
  align-items: center;
  justify-content: center;
  display: flex;
}

:local(.flex_center_inline) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
}

:local(.container_top) {
  margin-top: 100px;
}

:local(.overflow_table) {
  height: 600px;
  width: 100%;
  overflow-y: scroll;
}

:local(.footer_PO) {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

:local(.footer_Payments) {
  display: flex;
  flex-direction: column;
  text-align: right;
}

:local(.receivecash) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

:local(.loading) {
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
}

:local(.headerPO_con) {
  display: flex;
  justify-content: space-around;
}

:local(.POSelectGruop) {
  display: flex;
  align-items: baseline;
}

:local(.DC_CR_con) {
  display: flex;
  justify-content: space-around;
}
