:local(.container) {
  margin-left: 5%;
  margin-right: 5%;
}

:local(.datepicker) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin-bottom: 30px; */
}

:local(.headerReport) {
  display: flex;
  justify-content: space-between;
}

:local(.viewReportPO) {
  display: flex;
  justify-content: center;
}
