:local(.container) {
  margin-left: 5%;
  margin-right: 5%;
}

:local(.filterbar) {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

:local(.datepicker) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin-bottom: 30px; */
}

:local(.searchbar) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

:local(.headerReport) {
  display: flex;
  justify-content: space-between;
}

:local(.viewReportPO) {
  display: flex;
  justify-content: center;
}

:local(.viewReportPOHeader) {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
