/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.container_report {
  margin-left: 5%;
  margin-right: 5%;
}

.header_report {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_report_view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_search {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.datepicker_inboundINV {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search_inboundINV {
  display: flex;
  align-items: center;
}

.buttonAction_inboundINV {
  display: flex;
  justify-content: center;
}
